layout {
    pane size=1 borderless=true {
        plugin location="tab-bar"
    }
    pane split_direction="vertical" {
        pane {
            command "btm"
        }
        pane size=50 {
            command "journalctl"
            args "--follow"
        }
    }
    pane size=1 borderless=true {
        plugin location="status-bar"
    }
}
