* {
    font-family: "BIZ UDPGothic", sans-serif;
    /* equal to 28/2 (half taskbar icon size) */
    font-size: 14px;
}

window#waybar {
    background-color: transparent;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 1.0), rgba(0, 0, 0, 0.0));
    color: #cdd6f4;
}

.modules-center {
    background-color: rgba(0, 0, 0, 0.875);
    border: 2px solid rgba(49, 50, 68, 0.875);
    border-radius: 16px;
    margin: 8px 0;
    /* equal to 8/2 (half margin) */
    padding: 0 4px;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
    background: none;
    border: none;
    box-shadow: none;
    text-shadow: none;
}

#workspaces button {
    background-color: transparent;
    min-width: 0;
    padding: 0;
}

#workspaces button:not(.empty) .taskbar-window {
    /* equal to 8/2 (half margin) */
    padding: 0 4px;
}

#workspaces button:not(.empty) .taskbar-window > image {
    border-bottom: 4px solid rgba(49, 50, 68, 0.875);
}

#workspaces button.active:not(.empty) .taskbar-window > image {
    border-bottom: 4px solid rgba(88, 91, 112, 0.875);
}

#workspaces button.active:not(.empty) .taskbar-window.active > image {
    border-bottom: 4px solid transparent;
    border-image: linear-gradient(to right, rgba(243, 139, 168, 0.875), rgba(203, 166, 247, 0.875), rgba(137, 180, 250, 0.875)) 1;
}

#image:not(.empty) {
    /* equal to 8/2 (half margin) */
    padding: 0 4px;
}

#mpd,
#custom-spotify {
    /* equal to 8/2 (half margin) */
    padding: 0 4px;
}

#mpd.playing,
#custom-spotify.playing {
    color: #b4befe;
}

#mpd.paused,
#custom-spotify.paused {
    color: #a6adc8;
}

#wireplumber {
    color: #a6e3a1;
}

#battery {
    color: #fab387;
}

#clock {
    color: #94e2d5;
}

#battery,
#clock,
#wireplumber {
    font-family: "Cascadia Code", monospace;
    /* equal to 8/2 (half margin) */
    padding: 0 4px;
}

#tray image {
    /* equal to 8/2 (half margin) */
    padding: 0 4px;
}
